body {
    display: grid;
    grid-template: "header header header " "izquierda aside2 vill " "pie pie pie";
    grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 600px) {
    body {
        display: grid;
        grid-template: "header" "izquierda" "vill" "aside2" "pie";
    }
}

.container {
    width: 80%;
    background: #ddd;
    text-align: center;
    padding: 8px;
    margin-top: 3em;
    margin-left: 3em;
}

.progress {
    width: 1px;
    height: 20px;
    background: crimson;
    transition: width .1s linear;
}

aside {
    grid-area: aside2;
    background-color: rgb(23, 160, 11);
    padding: 10px;
    text-align: center;
}

#izquierda {
    grid-area: izquierda;
    margin: 0;
    padding: 10px;
    background-color: rgb(23, 160, 11);
}

footer {
    grid-area: pie;
    text-align: center;
    background-color: crimson;
    color: whitesmoke;
    padding: 20px;
}

header {
    font-size: 30px;
    color: white;
    background-color: crimson;
    text-align: center;
    grid-area: header;
    background-image: url("../Imagenes/fondo.jpg");
    background-repeat: repeat-x;
}

#botones {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}

#botones button {
    border-radius: 12px;
    background-color: crimson;
    color: whitesmoke;
    padding: 10px 20px 10px 20px;
    border: solid 1px whitesmoke;
}

.villancico {
    grid-area: vill;
    background-color: rgb(23, 160, 11);
    text-align: center;
    font-size: 30px;
    padding-right: 1em;
    font-family: 'Ma Shan Zheng', cursive;
}