.todo {
    display: flex;
}

.t1 {
    background-color: deepskyblue;
    padding: 20px;
    text-align: center;
}

.t2 {
    background-color: rgb(0, 182, 45);
    padding: 20px;
    text-align: center;
}

.t3 {
    background-color: rgb(255, 196, 0);
    padding: 20px;
    text-align: center;
}

@media (max-width: 740px) {
    .todo {
        flex-direction: column;
    }
    .todo .t2 {
        order: 0;
    }
    .todo .t3 {
        order: 1;
    }
    .todo .t1 {
        order: 2;
    }
}

header {
    background-color: black;
    color: white;
    margin-bottom: -22px;
}