body {
    display: grid;
    grid-template: "header header" "izquierda aside2" "pie pie";
    grid-template-columns: 1fr 1fr 1fr;
}

.container {
    width: 98%;
    background: #ddd;
    text-align: center;
    padding: 5px;
}

.progress {
    width: 1px;
    height: 20px;
    background: crimson;
    transition: width .1s linear;
}

aside {
    grid-area: aside2;
    background-color: rgb(23, 160, 11);
    padding: 10px;
    text-align: center;
    font-size: 25px;
    font-family: 'Ma Shan Zheng', cursive;
}

#izquierda {
    grid-area: izquierda;
    margin: 0;
    padding: 10px;
    background-color: rgb(23, 160, 11);
}

footer {
    grid-area: pie;
    text-align: center;
    background-color: crimson;
    color: whitesmoke;
    padding: 20px;
}

header {
    margin: 0;
    font-size: 30px;
    color: white;
    background-color: crimson;
    text-align: center;
    grid-area: header;
    background-image: url("Imagenes/fondo.jpg");
}

#botones {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

#botones button {
    border-radius: 12px;
    background-color: crimson;
    color: whitesmoke;
    padding: 10px 20px 10px 20px;
    border: solid 1px whitesmoke;
}