* {
    color: white;
}

nav ul {
    list-style: none;
    margin: 0;
    background: #333;
    display: flex;
}

nav li a {
    color: white;
    display: block;
    text-decoration: none;
    padding: .5em 1em;
}

.containter {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #333;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.body {
    background-color: tomato;
    display: flex;
    align-items: center;
    flex-grow: 2;
    justify-content: center;
}

aside {
    background-color: deepskyblue;
    justify-content: right;
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

footer {
    display: flex;
    background-color: cornflowerblue;
    align-items: flex-end;
    width: 100%;
    justify-content: center;
}

.cuerpo {
    display: flex;
    align-items: stretch;
    height: 80vh;
}

@media (max-width: 740px) {
    .header {
        flex-direction: column-reverse;
    }
    {}
}