p:hover img {
    display: block;
    animation: rotation 0.1s infinite linear;
    margin-left: 35%;
    margin-top: 10%;
}

img {
    display: none;
}

p:hover {
    animation: colores 3s infinite linear;
}

@keyframes colores {
    25% {
        color: red;
        font-size: 20px;
    }
    50% {
        color: yellow;
        font-size: 25px;
    }
    75% {
        color: green;
        font-size: 25px;
    }
    100% {
        color: blue;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}