@font-face {
    font-family: "fuente_relleno";
    src: url("Roboto-Regular.ttf");
}

.header {
    text-align: center;
    color: aliceblue;
    font-size: 70px;
    background-image: linear-gradient(to right, rgb(173, 0, 179), rgb(247, 0, 255), rgb(173, 0, 179));
    padding-top: 45px;
    padding-bottom: 45px;
    margin-bottom: 5px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    background-color: rgb(49, 49, 49);
}

a {
    font-family: 'fuente_relleno', serif;
}

li {
    display: inline;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    margin-bottom: -2px;
    text-decoration: none;
    font-size: 25px;
}

li a:hover {
    background-color: rgb(212, 0, 219);
}

body {
    background-color: black;
}