#container {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

body canvas {
    margin: 0;
    padding: 0;
    display: inline;
    image-rendering: pixelated;
}