body {
    font-size: 28px;
    background-color: #FDFFFC
}

ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
    overflow: hidden;
    background-color: #FF6700;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: left;
    padding: 10;
}

.header {
    text-align: center;
    background-color: #006989;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #85C7DE;
}

h1 {
    color: #A3BAC3;
}